body {
}
.header {
    background-color: #ff4948;
    display: flex;
    text-align: center;
    justify-content: center;
}

.nav {
    background-color: #c81415;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}

.main_ol {
    display: flex;
    justify-content: space-between;
}
.main {
    background-color: #71b31b;
    padding-top: 10px;
    width: 1600px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 5px;
}

.sidebar {
    background-color: #99d26b;
    text-align: center;
    justify-content: center;
    width: 589px;
    padding-top: 210px;
}

.footer {
    background-color: #7b68ff;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

h1,
h2 {
    color: #ffeeed;
}
h2:hover {
    color: black;
    transition: 0.8s;
}
h1:hover {
    color: black;
    transition: 0.8s;
}
